h1{
    font-size: 40px;
    color: #222B45;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

h2{
    font-size: 32px;
    color: #222B45;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.table_container{
    margin: 0 auto;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    font-size: 26px;
    color: #222B45;
    font-family: Montserrat, sans-serif;
    padding: 20px;
    text-align: left;
    width: 50%;
}

th {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}


*{
    text-decoration: none;
    color: #222B45;
}

.Navigation__Container {
    height: 84px;
    width: 1920px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFF;
}

.Logo {
    height: 84px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.Logo__name {
    font-size: 40px;
    position: relative;
}

.Logo_Image {
    position: absolute;
    top: 30px;
    left: 864px;
}

.navigation {
    height: 84px;
    font-size: 30px;
    font-style: normal;
}

.navigation a {
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    color: #222B45;
    margin-left: 50px;
}

.navigation a:hover {
    font-weight: 600;
}

.Main{
    display: flex;
    flex-direction: column;
}

img {
    width: 80%;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.5);
}
